* {
  margin: 0;
  padding: 0;
}

/*header*/
header {
  width: 800px;
  margin: 40px auto;
}

header h1 {
  text-align: center;
  font: 100 60px/1.5 Helvetica, Verdana, sans-serif;
}

header p {
  font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
  text-align: justify;
}

/*photobanner*/

.photobanner {
  text-align: left;
  height: 233px;
  width: 3550px;
  margin-bottom: 80px;
}

#container {
  width: auto;
  height: 790px;
  overflow: hidden;
  margin: 50px auto;
  background: rgb(52, 175, 76);
}

/*keyframe animations*/
.first {
  -webkit-animation: bannermove 30s linear infinite;
  -moz-animation: bannermove 30s linear infinite;
  -ms-animation: bannermove 30s linear infinite;
  -o-animation: bannermove 30s linear infinite;
  animation: bannermove 30s linear infinite;
}

@keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -5400px;
  }
}

@-moz-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -5400px;
    /* -5400 is equal to the sum of the width of all the pictures */
  }
}

@-webkit-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -5400px;
  }
}

@-ms-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -5400px;
  }
}

@-o-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -5400px;
  }
}
