.#TeamProfile {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#TeamProfile td,
#TeamProfile th {
  border: 2px solid black;
  padding: 8px;
}

/*#TeamProfile tr:nth-child(even) {
  background-color: #f2f2f2;
}*/
#TeamProfile tr {
  background-color: white;
}

#TeamProfile th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #000000;
  color: white;
}
#TeamProfile {
  width: 100%;
}
tr {
  height: 50px;
}
