.App {
  text-align: center;
}

.App-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(170, 5, 169);
  padding: 1px;
  padding-top: -1px;
  color: rgb(246, 230, 18);
}

.App-title {
  font-size: 1.5em;
}

:root {
  --main-bg-color: pink;
}
/*body {
  --img1-image: url(http://www.niuhuskies.com/images/2016/9/15/16_IASB_BSU_0405_SW_062.JPG);
}

body {
  --img2-image: url(https://s.hswstatic.com/gif/fire-intro-pic.jpg);
}*/
body {
  background-image: url(http://www.niuhuskies.com/images/2016/9/15/16_IASB_BSU_0405_SW_062.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}
/*background-image: url(http://www.niuhuskies.com/images/2016/9/15/16_IASB_BSU_0405_SW_062.JPG),
  url(https://s.hswstatic.com/gif/fire-intro-pic.jpg);
background-repeat: no-repeat, no-repeat;
background-size: cover, auto;*/
