.App {
  text-align: center;
  width: 50vw;
  height: 59vw;
  position: fixed;
  left: 25%;
  right: 0%;
  background-color: rgba(164, 194, 165, 0.7);
  /*rgba allows you a fourth parameter for opacity*/
}

.Links {
  font-size: 25px;
  position: absolute;
  left: 40%;
  top: 30%;
  right: auto;
}

.App-header {
  width: auto;
  height: auto;
  position: relative;
  left: 0%;
  right: 0%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(164, 127, 55);
  padding: 15px;
  padding-top: -1px;
  color: rgb(0, 0, 0);
}

.App-title {
  text-shadow: 3px 2px rgb(122, 120, 138);
  font-size: 30px;
  font-weight: bolder;
}

:root {
  --main-bg-color: pink;
}

.App {
}

body {
  background-image: url(http://www.niuhuskies.com/images/2016/9/15/16_IASB_BSU_0405_SW_062.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}*/
/*background-image: url(http://www.niuhuskies.com/images/2016/9/15/16_IASB_BSU_0405_SW_062.JPG),
  url(https://s.hswstatic.com/gif/fire-intro-pic.jpg);
background-repeat: no-repeat, no-repeat;
background-size: cover, auto;*/
